body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 100%;
    background-color: #004080;
    text-align: center;
    padding: 10px;
}

.header button {
    background-color: #ff8000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.header img {
    height: 40px;
    vertical-align: middle;
}

.login-box {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.login-box .button {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.clear {
    background-color: #ff8000;
    color: white;
}

.login {
    background-color: #00bfff;
    color: white;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 100%;
    background-color: #a0522d;
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer div {
    margin: 5px 0;
}